<div>
  <div><h1>VaiLocal Topics</h1></div>
</div>

<hr>

<h2> What topics do you want to explore? </h2>

<div>
  <div>
    <table border="1">
      <tr>
        <th>#</th>
        <th>Topic</th>
        <th>Asked by</th>
        <th>View</th>
      </tr>

      <% @topics.each do |a_topic| %>
      <tr>
        <td>
          <%= a_topic.id %>
        </td>

        <td>
          <%= a_topic.body %>
        </td>

        <td>
          <%= a_topic.creator.first_name %> + <%= a_topic.creator.last_name %>
        </td>

        <td>
          <%= time_ago_in_words(a_topic.created_at) %> ago

        <td>
          <a href="/topics/<%= a_topic.id %>">
            See posts on topic
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>Add a new topic</h2>

    <form action="/insert_topic" method="post">
      <div>
        <label for="topic_box">Create a New Discussion Topic</label>
        <textarea id = "topic_box" name = "input_body" placeholder = "Enter a new discussion topic..."></textarea>
      </div>

      <button>Create new topic</button>
    </form>
  </div>
</div>
