<div>
  <div>
    <h1>VaiLocal Topics</h1>
  </div>
</div>

<hr>

<h2> What topics do you want to explore? </h2>

<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Topic
        </th>

        <th>
          User
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

      </tr>

      <% @list_of_topics.each do |a_topic| %>
      <tr>
        <td>
          <%= a_topic.id %>
        </td>

        <td>
          <%= a_topic.name %>
        </td>

        <td>
          <%= a_topic.user_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_topic.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_topic.updated_at) %> ago
        </td>

        <td>
          <a href="/topics/<%= a_topic.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>Add a new topic</h2>

    <form action="/insert_topic" method="post">
      <div>
        <label for="topic_box">Topic</label>
        <input type="text" id="topic_box" name="query_topic" size="120">
      </div>

      <button>Create topic</button>
    </form>
  </div>
</div>
