<h1><%= @topic.body %> </h1>
<h2><td>Asked by <%= @topic.creator.first_name %> <%= @topic.creator.last_name %></td> <td><%= time_ago_in_words(@topic.created_at) %> ago</td></h2>


<div>
  <div>
    <table border="1">
      <tr>
        <th>Answered by</th>
        <th>Post</th>
        <th>Created</th>
        <th>Updated</th>
        <th>Show details</th>
      </tr>

      <% @list_of_posts.each do |a_post| %>
      <tr>
        <td><%= a_post.poster.first_name %> <%= a_post.poster.last_name %></td>
        <td><%= a_post.body %></td>
        <td><%= time_ago_in_words(a_post.created_at) %> ago</td>
        <td><%= time_ago_in_words(a_post.updated_at) %> ago</td>
        <td><a href="/topics/#{the_topic.id}%>">Show details</a></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>




<div>
  <div>
    <h2>Add a new post</h2>

    <form action="/insert_post/" method="post">
      <div>
        <input id="post_id" type="hidden" value = "<%= @topic.id%>" name = "input_post_id">

        <label for="post_box">Create a New Post</label>
        <textarea id = "post_box" name = "input_body" placeholder = "Enter a new post ..."></textarea>
      </div>

      <button>Create new post</button>
    </form>

  </div>
</div>

<hr>


<div>
  <div>
    <h2>Edit a topic</h2>

    <form action="/modify_topic/<%= @topic.id %>" method="post">
      <div>
        <label for="edit_topic_box">Edit Topic</label>
        <textarea id = "edit_topic_box" name = "input_body" value = "<%= @topic.id %>" placeholder = "Update your discussion topic..."></textarea>
      </div>

      <button>Update topic</button>
    </form>
  </div>
</div>


<div>
  <div>
    <h2>Edit a post</h2>

    <form action="/modify_post/<%= @topic.id %>" method="post">
      <div>
        <label for="edit_post_box">Edit Topic</label>
        <textarea id = "edit_post_box" name = "input_body" placeholder = "Update your post..."></textarea>
      </div>

      <button>Update post</button>
    </form>
  </div>
</div>
