<h1><%= @topic.body %> </h1>
<h2><td>Asked by <%= @topic.creator.first_name %> <%= @topic.creator.last_name %></td> <td><%= time_ago_in_words(@topic.created_at) %> ago</td></h2>


<div>
  <div>
    <table border="1">
      <tr>
        <th>Answered by</th>
        <th>Post</th>
        <th>Created</th>
        <th>Updated</th>
      </tr>

      <% @list_of_posts.each do |a_post| %>
      <tr>
        <td><%= a_post.poster.first_name %> <%= a_post.poster.last_name %></td>
        <td><%= a_post.body %></td>
        <td><%= time_ago_in_words(a_post.created_at) %> ago</td>
        <td><%= time_ago_in_words(a_post.updated_at) %> ago</td>
      </tr>
      <% end %>
    </table>
  </div>
</div>




<div>
  <div>
    <h2>Add a new post</h2>

    <form action="/insert_post" method="post">
      <div>
        <input id = "topic_id" type = "hidden" value = "<%= @topic.id %>" name = "query_topic_id">

        <label for="post_box">Create a New Post</label>
        <textarea id = "post_box" name = "input_body" placeholder = "Enter a new post ..."></textarea>
      </div>

      <button>Create new post</button>
    </form>
  </div>
</div>
